.header_bts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.home_back {
    height: 50px;
    background-color: green;
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
}
.menu {

    width: 100%;
    background: green;
    box-shadow: 0px 5px 10px #969696;

}